body{
    background:#000;
}

.navbar-brand .logo{

    height: 5vh;
    width: 5vw;

}

.navbar .navbar-nav .nav-item .nav-link{

    font-weight: bolder;
}
.navbar .navbar-nav .nav-item .nav-link:hover{

    color:chocolate;
    text-decoration-line: underline;
    text-underline-offset: 8px;


}

/* SECTION */
.gallery-section{
    padding:100px 0;
}

/* MASONRY GRID */
.gallery-grid{
    column-count:3;
    column-gap:25px;
}

/* CARD */
.gallery-card{
    margin-bottom:25px;
    border-radius:18px;
    overflow:hidden;
    position:relative;
    cursor:pointer;
}

/* IMAGE */
.gallery-card img{
    width:100%;
    height:auto;
    display:block;
    border-radius:18px;
    transition:0.6s ease;
}

/* HOVER */
.gallery-card:hover img{
    transform:scale(1.08);
}

/* Responsive */

@media(max-width:992px){
    .gallery-grid{
        column-count:2;
    }
}

@media(max-width:600px){
    .gallery-grid{
        column-count:1;
    }
}


.footer{
    background:#0d0d0d;
    color:#fff;
    padding:40px 0;
}



.social-icons a{
    width:40px;
    height:40px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    border: 1px solid black;
    color:#000;
    margin-right:10px;
    transition:0.3s;
    border-radius: 50px;
    
}

.social-icons a:hover{
    background: chocolate;
    color:#fff;
    border: none;
    
}

.footer-bottom{
    border-top:1px solid #222;
    margin-top:25px;
    padding-top:15px;
    font-size:14px;
    text-align:center;
    color:#aaa;
}


.footer .list-unstyled li a{
    color: #aaa;
    text-decoration:none;
    transition:0.3s;
    align-items: center;
}

.footer .list-unstyled li a:hover{

    color: chocolate;


}